<settings-screen>
  <div class="row voffset1">
    <div class="col-md-6">
      <p ng-if="$ctrl.showNewButton">
        <a href="dashgroups/new" class="btn btn-default"><i class="fa fa-plus"></i> New Dashgroup</a>
      </p>
      <ul class="accordion">
      	<li ng-repeat="dg in detailedDashgroups">
      		<div class="acc-head" ng-click="showDetails = ! showDetails" ng-class="{ 'open': showDetails }">
            {{dg.name}} 
          </div>
          <div class="acc-content" ng-class="{ 'hidden': !showDetails }">
        		<ul>
        			<li ng-repeat="db in dg.dashboards"> {{ db.dashboard_name }} 
                 <div class="delete-x" ng-click="removeDashboard($event, dg.id, db.dashboard_id)"> &#10006 </div>
              </li>
        		</ul>
          </div>
      	</li>

      </ul>
    </div>
  </div>
</settings-screen>
